* {
    margin: 0;
}
body {
    background-image: url("../643.png")
}
button {
    height: 4.5vh;
    width: 200px;
    border-radius: 20px;
    background-color: #ffde73;
    border: 1px solid black;
}
.header {
    display: flex;
    height: 8vh;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    background-color: #ffde73 ;
}

.maincontent {
    margin-top: 5vh;
    margin-bottom: 5vh;
    text-align: center;
    height: 82vh;
    background-color: #ffde73;
}
.orangetime {
    background-color: #df880a;
}

#homediv {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 28vw;
    margin-right: 28vw;
    padding-top: 2vh;
    gap: 2vh;
    border-radius: 30px;
}
.inneritems {
    border: 10px solid #c16a08;
    border-radius: 20px;
    margin: 2vh;
    width: 30vw;
    background-color: #ffc70b
}
p , h2 , h1{
    padding: 1.5vh;
}
.hoursection {
    display: flex;
    align-items: center;
    justify-content: center;
}